# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Houdini
*.lock
*.bak*
*.hip.bak*
backup/
*.hiplc.bak*

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
